@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family:E1234Italic-DO3md;
    src: url('E1234Italic-DO3md.ttf');
}

:root
{
    --light-color:#f6e58d;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    height: 100vh;
    width: 100vw;
    background-color: #3c6382;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none; /*User cannot select*/
    cursor: pointer;
    gap:20px;
}
h2
{ 
    color:orange;
    font-size: 30px;
    font-weight:500;
}
.frame
{
    height: 300px;
    width: 600px;
    background-color: #333;
    border: 50px solid orange;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 180px;
}
.clock
{
    font-family:E1234Italic-DO3md;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 20px var(--light-color);
    position: relative;
}
.clock::after
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 20px;
    filter: blur(15px);
}
.clock::before
{
    content: '';
    position: absolute;
    background-color: var(--light-color);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.1;
    filter: blur(40px);
}